@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --borders-border-00: 0rem;
  --borders-border-50: 0.0625rem;
  --borders-border-100: 0.125rem;
  --borders-border-200: 0.25rem;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-primary: #282b67;
  --sizes-size-25: 0.25rem;
  --sizes-size-50: 0.5rem;
  --sizes-size-100: 0.75rem;
  --sizes-size-150: 1rem;
  --sizes-size-200: 1.25rem;
  --sizes-size-250: 1.5rem;
  --sizes-size-300: 2rem;
  --sizes-size-350: 2.5rem;
  --sizes-size-400: 3rem;
  --sizes-size-450: 3.5rem;
  --sizes-size-500: 4.5rem;
  --sizes-size-550: 6rem;
  --sizes-size-anchors-menu: 16.75rem;
  --sizes-size-side-menu-desktop: 16.75rem;
  --sizes-size-side-menu-tablet: 22.5rem;
  --sizes-size-side-menu-mobile: 22.5rem;
  --sizes-size-header: 3.5rem;
  --sizes-size-cover: 12.5rem;
  --sizes-size-cover-with-tabs: 12.5rem;
  --sizes-size-cover-mobile-tablet: 12.5rem;
  --sizes-size-cover-with-tabs-mobile-tablet: 12.5rem;
  --sizes-size-menu-top-search: 7.188rem;
  --sizes-size-modal-icon: 7.5rem;
  --sizes-size-25-number-px: 4;
  --sizes-size-50-number-px: 8;
  --sizes-size-100-number-px: 12;
  --sizes-size-150-number-px: 16;
  --sizes-size-200-number-px: 20;
  --sizes-size-250-number-px: 24;
  --sizes-size-300-number-px: 32;
  --sizes-size-350-number-px: 40;
  --sizes-size-400-number-px: 48;
  --sizes-size-450-number-px: 56;
  --sizes-size-500-number-px: 72;
  --sizes-size-550-number-px: 96;
  --sizes-size-menu-top-size-px: 230;
  --sizes-size-anchors-menu-number-px: 268;
  --sizes-size-header-number-px: 56;
  --sizes-size-side-menu-desktop-number-px: 268;
  --sizes-size-side-menu-tablet-number-px: 360;
  --sizes-size-side-menu-mobile-number-px: 360;
  --sizes-size-cover-number-px: 420;
  --sizes-size-cover-with-tab-number-pxs: 372;
  --sizes-max-size-image: 68rem;
  --spacings-spacing-0: 0rem;
  --spacings-spacing-25: 0.063rem;
  --spacings-spacing-50: 0.125rem;
  --spacings-spacing-100: 0.25rem;
  --spacings-spacing-150: 0.5rem;
  --spacings-spacing-200: 0.625rem;
  --spacings-spacing-250: 0.75rem;
  --spacings-spacing-300: 1rem;
  --spacings-spacing-350: 1.25rem;
  --spacings-spacing-400: 1.5rem;
  --spacings-spacing-450: 2rem;
  --spacings-spacing-475: 2.25rem;
  --spacings-spacing-500: 2.5rem;
  --spacings-spacing-550: 3rem;
  --spacings-spacing-600: 3.5rem;
  --spacings-spacing-650: 4rem;
  --spacings-spacing-675: 4.5rem;
  --spacings-spacing-700: 5rem;
  --spacings-spacing-740: 7.5rem;
  --spacings-spacing-750: 8rem;
  --spacings-spacing-800: 8.5rem;
  --spacings-spacing-100-percent: 100%;
  --spacings-spacing-50-percent: 50%;
  --spacings-spacing-70-percent: 70%;
  --spacings-spacing-30-percent: 30%;
  --spacings-spacing-25-percent: 25%;
  --spacings-spacing-20-percent: 20%;
  --spacings-spacing-10-percent: 10%;
  --spacings-spacing-5-percent: 5%;
  --spacings-spacing-100-vh: 100vh;
  --spacings-spacing-100-vw: 100vw;
  --spacings-spacing-100-px: 4px;
  --spacings-spacing-180-px: 180px;
  --z-index-auto: auto;
  --z-index-intern-1: 1;
  --z-index-intern-2: 2;
  --z-index-intern-3: 3;
  --z-index-sticky: 400;
  --z-index-popup: 500;
  --z-index-floating: 600;
  --z-index-overlay: 700;
  --z-index-modal: 800;
  --z-index-spinner: 900;
  --z-index-toast: 950;
  --z-index-top-of-the-world: 1000;
}
