.container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    mix-blend-mode: lighten;
  }

.oval {
    position: absolute;
    width: 40%;
    height: 55%;
    border-radius: 50%;
}

.oval1 {
    animation: move1 15s infinite linear;
    background: radial-gradient(51.1% 40.15% at 52.33% 53.49%, var(--light-blue-bubble) 10.5%, rgba(40, 43, 103, 0.00) 93%);
    background-blend-mode: lighten;
    filter: blur(30px);
    top: 0;
    left: 0;
}

.oval2 {
    animation: move2 15s infinite linear;
    background: radial-gradient(51.1% 40.15% at 52.33% 53.49%, var(--dark-blue-bubble) 8.5%, rgba(40, 43, 103, 0.00) 93%);
    background-blend-mode: lighten;
    filter: blur(30px);
    transform: rotate(25deg);
    top: 50%;
    right: 0;
}

@keyframes move1 {
    0% { top: 10%; left: 20%; }
    14.29% { top: 30%; left: 10%; }
    28.57% { top: 40%; left: 0%; }
    42.86% { top: 30%; left: -10%; }
    57.14% { top: 15%; left: -15%; }
    71.43% { top: 0%; left: 0%; }
    85.71% { top: -5%; left: 10%; }
    100% { top: 10%; left: 20%; }
}

@keyframes move2 {
    0% { top: 5%; left: 37%; }
    12.5% { top: -8%; left: 45%; }
    25% { top: -15%; left: 55%; }
    37.5% { top: -10%; left: 66%; }
    50% { top: 5%; left: 73%; }
    62.5% { top: 15%; left: 66%; }
    75% { top: 22%; left: 60%; }
    87.5% { top: 10%; left: 45%; }
    100% { top: 5%; left: 37%; }
}